

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help - Hero Two-Wheeler Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <footer>
    <div class="footer">
        <img src="/img/hero.webp" alt="Yadav Automobiles Logo">
        <h5>YADAV AUTOMOBILES</h5>
        <h5>LOCATION - REWARI, HARYANA, 123035</h5>
        <h5>Contact No - 9876143576</h5>
        <h5>&copy; 2025 Hero Two-Wheeler Shop. All rights reserved.</h5>
    </div>
      <p>created by {{name}}</p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </footer>
</body>
</html>